html, body {
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 10px;
  scroll-behavior: smooth; }

.content {
  width: 100%; }
  .content__wrapper {
    width: 100%; }
  .content__header {
    width: 100%; }

.video {
  position: absolute;
  object-fit: cover; }
  .video-black, .video video {
    position: fixed;
    width: 100%; }
  .video-black {
    height: 100%;
    background-color: rgba(1, 1, 1, 0.5); }
  .video_pc {
    display: block; }
  .video_rwd {
    display: none; }

@media only screen and (max-width: 600px) {
  .video {
    width: 100%; }
    .video_pc {
      display: none;
      width: 100%; }
    .video_rwd {
      display: block;
      width: 100%; } }

/* 
@media only screen and (max-width: 600px) {
    
    
}
*/
.content__wrapper {
  width: 100%;
  display: flex; }

.footer__container {
  background-color: #f5f5f5;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative; }
  .footer__container-files {
    position: relative;
    width: 50%;
    margin: 5rem 0; }
    .footer__container-files h2 {
      font-size: 3rem; }
    .footer__container-files button {
      margin: 2rem;
      width: 7rem;
      height: 4rem;
      background: transparent;
      border: 1px solid #686868;
      cursor: pointer;
      transition: .2s; }
      .footer__container-files button:focus {
        outline: none; }
      .footer__container-files button:hover {
        box-shadow: 4px 4px 10px rgba(104, 104, 104, 0.2); }
      .footer__container-files button:active {
        transform: translateY(2px) scale(0.95);
        box-shadow: 4px 1px 5px rgba(104, 104, 104, 0.2); }
  .footer__container-info {
    position: relative;
    width: 50%;
    margin: 5rem;
    padding-right: 5rem; }
    .footer__container-info::after {
      content: '';
      width: 100%;
      height: 80%;
      position: absolute;
      top: 0;
      left: 0;
      border-right: 1px solid #686868; }
    .footer__container-info h2 {
      font-size: 3rem;
      text-align: right; }
    .footer__container-info ul {
      padding: 0;
      margin: 0;
      list-style: none; }
      .footer__container-info ul li {
        text-align: right;
        font-size: 2rem;
        margin: 2rem 0; }

@media only screen and (max-width: 600px) {
  .footer__container {
    height: 100%; }
    .footer__container-files {
      width: 20%;
      margin: 3rem 10% 0 0;
      padding-left: 1rem; }
      .footer__container-files h2 {
        font-size: 2rem;
        text-align: right; }
      .footer__container-files button {
        margin: 2rem;
        width: 7rem;
        height: 4rem;
        background: transparent;
        border: 1px solid #686868;
        cursor: pointer;
        transition: .2s; }
        .footer__container-files button:focus {
          outline: none; }
        .footer__container-files button:hover {
          box-shadow: 4px 4px 10px rgba(104, 104, 104, 0.2); }
        .footer__container-files button:active {
          transform: translateY(2px) scale(0.95);
          box-shadow: 4px 1px 5px rgba(104, 104, 104, 0.2); }
    .footer__container-info {
      width: 55%;
      margin: 3rem 0 0;
      padding-right: 1rem; }
      .footer__container-info h2 {
        font-size: 2rem;
        text-align: right; }
      .footer__container-info ul li {
        font-size: 1.3rem; } }

.social {
  position: fixed;
  width: 6.4rem;
  top: 30rem;
  z-index: 3;
  float: right; }
  .social button {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
    background-image: -webkit-radial-gradient(50%, white, black);
    padding: 0px;
    cursor: pointer;
    transition: .2s;
    display: flex;
    justify-content: left;
    z-index: 2; }
    .social button img {
      height: 101%;
      width: 101%; }
    .social button:hover {
      transform: scale(1.15); }
    .social button:focus {
      outline: none; }
    .social button:active {
      transform: translateY(2px); }
    .social button a {
      opacity: 0;
      transform: scaleX(0);
      transform-origin: left;
      transition: .3s;
      position: fixed;
      width: 15rem;
      left: 2rem;
      height: 4rem;
      color: white;
      z-index: 0;
      margin: 1.5rem 0; }

@media only screen and (max-width: 900px) {
  .social {
    top: 10rem; } }

.language {
  position: absolute;
  left: 1rem;
  top: 1rem;
  width: 10rem;
  height: 4rem;
  display: flex; }
  .language button {
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    color: white;
    cursor: pointer;
    transition: .2s; }
    .language button:first-child {
      border-right: 1px solid white; }
    .language button:focus {
      outline: none; }

@media only screen and (max-width: 600px) {
  .language {
    width: 5rem;
    height: 3rem;
    left: 1rem; }
    .language button {
      font-size: 1rem; } }

.name {
  position: relative;
  width: 80%;
  height: 600px;
  text-align: center;
  top: 10rem;
  left: 10%; }
  .name h3, .name p {
    font-family: 'Merriweather', serif;
    margin: 0px;
    color: #f5f5f5; }
  .name h1 {
    margin: 0px;
    color: #f5f5f5;
    font-size: 10rem;
    animation: name-in 1s ease-in; }
  .name_small {
    font-size: 2rem;
    width: 35%;
    margin: 0 0 0 40%;
    text-align: left; }
    .name_small div {
      display: block;
      color: white;
      font-size: 2rem; }
    .name_small div:nth-child(1) {
      margin-left: 0; }
    .name_small div:nth-child(2) {
      margin-left: 6%; }
    .name_small div:nth-child(3) {
      margin-left: 20%; }

@media only screen and (max-width: 900px) {
  .name {
    width: 60%;
    margin: -5rem 10%; }
    .name_small {
      font-size: 1.6rem;
      width: 100%;
      margin: 0 0 0 40%; }
    .name h3 {
      font-size: .5rem; }
    .name h1 {
      font-size: 3.5rem; }
    .name p {
      font-size: 1rem; } }

@media only screen and (max-width: 600px) {
  .name {
    width: 60%;
    margin: 10%; }
    .name_small {
      font-size: 1.6rem;
      width: 100%;
      margin: 0 0 0 20%; }
    .name h3 {
      font-size: .5rem; }
    .name h1 {
      font-size: 4.5rem; }
    .name p {
      font-size: 1.2rem; } }

.skills {
  width: 100%;
  margin: 0;
  position: relative; }
  .skills_logos {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #f5f5f5; }
    .skills_logos img {
      margin: 4rem 10rem; }
    .skills_logos-html {
      width: 20rem;
      height: 20rem; }
    .skills_logos-css {
      width: 25rem;
      height: 25rem; }
    .skills_logos-js {
      width: 17rem;
      height: 20rem; }
    .skills_logos-jquery {
      width: 35rem;
      height: 20rem; }
    .skills_logos-git {
      width: 20rem;
      height: 20rem; }
    .skills_logos-sass {
      width: 30rem;
      height: 20rem; }
    .skills_logos-sql {
      width: 20rem;
      height: 20rem; }

@media only screen and (max-width: 600px) {
  .skills_logos img {
    margin: 4rem auto; } }

.content__header {
  width: 70rem;
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 10; }
  .content__header nav .nav_ul {
    margin: 0 1rem;
    padding: 0;
    list-style: none;
    display: flex;
    float: right; }
    .content__header nav .nav_ul li {
      margin: 1rem 0;
      padding: 0 1rem;
      position: relative; }
      .content__header nav .nav_ul li button {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        border: none;
        background: none;
        color: white;
        font-size: 1.6rem;
        cursor: pointer;
        transition: .3s;
        position: relative;
        text-align: center;
        width: 13rem; }
        .content__header nav .nav_ul li button:focus {
          outline: none; }
        .content__header nav .nav_ul li button:active {
          transform: translateY(2px); }
        .content__header nav .nav_ul li button::after {
          content: "";
          position: absolute;
          width: 60%;
          height: 100%;
          transform: scaleX(0);
          transition: .15s;
          transform-origin: center;
          top: 0;
          left: 20%;
          border-bottom: 1px solid white; }
        .content__header nav .nav_ul li button:hover::after {
          transform: scaleX(1); }
      .content__header nav .nav_ul li::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-right: 1px solid white; }
      .content__header nav .nav_ul li:last-child::before {
        border: none; }

.burger {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 2rem;
  left: 100%;
  top: 1.3rem;
  height: 3rem;
  cursor: pointer; }
  .burger_menu-1, .burger_menu-2, .burger_menu-3 {
    position: absolute;
    border: none;
    background: none;
    margin: 0px;
    height: 0.2rem;
    width: 100%;
    background-color: #f5f5f5;
    cursor: pointer;
    transition: .3s; }
  .burger_menu-1 {
    transform: rotate(-45deg);
    top: 1rem; }
  .burger_menu-2 {
    top: 1rem;
    opacity: 0; }
  .burger_menu-3 {
    top: 1rem;
    transform: rotate(45deg); }

.change .burger_menu-1 {
  -webkit-transform: rotate(0) translateY(-0.7rem);
  transform: rotate(0) translateY(-0.7rem);
  background-color: #686868; }

.change .burger_menu-2 {
  opacity: 1;
  background-color: #686868; }

.change .burger_menu-3 {
  -webkit-transform: rotate(0) translateY(0.7rem);
  transform: rotate(0) translateY(0.7rem);
  background-color: #686868; }

.nav_ul_rwd {
  display: none; }

@media only screen and (max-width: 900px) {
  .content__header {
    top: 1.5rem;
    width: 10rem;
    left: 78%; }
    .content__header nav .nav_ul {
      margin: 0 1rem;
      padding: 0;
      list-style: none;
      display: flex;
      float: right; }
      .content__header nav .nav_ul li {
        margin: .5rem 0;
        padding: 0 .5rem; }
        .content__header nav .nav_ul li button {
          font-size: 1.2rem;
          transition: .3s;
          width: 7rem; }
  .burger {
    top: 0.25rem;
    left: 100%; } }

@media only screen and (max-width: 600px) {
  .content__header nav {
    display: none; }
  .burger {
    top: 2rem;
    left: 20%;
    z-index: 100; }
    .burger_menu-1 {
      transform: rotate(0deg);
      top: 0rem;
      background-color: #686868; }
    .burger_menu-2 {
      top: 0.7rem;
      opacity: 1;
      background-color: #686868; }
    .burger_menu-3 {
      top: 1.4rem;
      transform: rotate(0deg);
      background-color: #686868; }
  .change .burger_menu-1 {
    -webkit-transform: rotate(45deg) translateY(1rem);
    transform: rotate(45deg) translateY(1rem);
    background-color: black; }
  .change .burger_menu-2 {
    opacity: 0; }
  .change .burger_menu-3 {
    -webkit-transform: rotate(-45deg) translateY(-1rem);
    transform: rotate(-45deg) translateY(-1rem);
    background-color: black; }
  .nav_ul_rwd {
    transition: .4s ease-in-out;
    transform: scaleX(0);
    transform-origin: right;
    will-change: transform;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(104, 104, 104, 0.95);
    top: -1rem;
    left: 0;
    display: block;
    opacity: 0;
    list-style: none;
    padding: 1rem 25%;
    overflow: hidden; }
    .nav_ul_rwd button {
      width: 50%;
      height: 10rem;
      background: none;
      border: none;
      border-bottom: .5px solid white;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 2rem;
      color: white; } }

.rwd_info {
  border-bottom: none !important; }

.about {
  width: 90%;
  margin: 5%;
  position: relative; }
  .about_one, .about_two, .about_three, .about_four, .about_five {
    position: relative;
    width: 30%;
    padding: 2rem;
    background: #f5f5f5;
    transition: 1s;
    transform: translateY(100px);
    opacity: 0; }
  .about_one {
    width: 30%;
    font-size: 2.5rem;
    left: 15%;
    font-size: 4rem;
    text-align: right; }
  .about_two {
    top: -10rem;
    font-size: 2rem;
    left: 50%;
    text-align: left; }
  .about_three {
    top: -4rem;
    font-size: 2.3rem;
    left: 15%;
    text-align: right; }
  .about_four {
    font-size: 2.5rem;
    left: 50%;
    text-align: left;
    top: -8rem; }
  .about_five {
    width: 40%;
    font-size: 3rem;
    left: 25%;
    text-align: center; }

@media only screen and (max-width: 700px) {
  .about {
    width: 90%; }
    .about_one, .about_two, .about_three, .about_four, .about_five {
      width: 70%;
      padding: 1rem;
      background: #f5f5f5;
      transition: 1s;
      transform: translateY(100px);
      opacity: 0;
      top: 0;
      will-change: transform; }
    .about_one {
      font-size: 1.5rem;
      left: 10%;
      font-size: 2rem;
      text-align: right; }
    .about_two {
      font-size: 2rem;
      left: 15%;
      text-align: left; }
    .about_three {
      font-size: 1.5rem;
      left: 10%;
      text-align: right; }
    .about_four {
      font-size: 1.5rem;
      left: 15%;
      text-align: left; }
    .about_five {
      font-size: 2rem;
      left: 12%;
      text-align: center; } }

.projects {
  width: 100%;
  margin: 0;
  position: relative; }
  .projects h2 {
    text-align: center;
    color: #f5f5f5;
    font-size: 2rem; }
  .projects__window {
    width: 100%;
    display: flex;
    justify-content: center; }
    .projects__window-pc {
      position: relative;
      width: 60%;
      height: 100%;
      margin: 2rem; }
      .projects__window-pc img {
        width: 100%;
        height: 100%; }
    .projects__window-rwd {
      position: relative;
      width: 20%;
      height: 100%;
      margin: 2rem; }
      .projects__window-rwd img {
        width: 100%;
        height: 100%; }

.project-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(104, 104, 104, 0.9);
  opacity: 0;
  transition: .3s; }
  .project-modal p {
    color: #f5f5f5;
    padding: 15%;
    font-weight: bold;
    text-align: center;
    font-size: 3rem;
    margin: 0; }

@media only screen and (max-width: 600px) {
  .projects h2 {
    font-size: 1.6rem; }
  .projects__window {
    width: 100%;
    display: flex;
    justify-content: center; }
    .projects__window-pc {
      display: none; }
    .projects__window-rwd {
      position: relative;
      width: 60%;
      height: 100%;
      margin: 2rem; }
      .projects__window-rwd img {
        width: 100%;
        height: 100%; }
  .project-modal p {
    padding: 5%;
    font-size: 2rem;
    margin: 0; } }

.certificates {
  height: 100%; }
  .certificates_images {
    height: auto;
    padding: 0 10%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    grid-auto-columns: minmax(40rem, 1fr);
    justify-items: center;
    align-items: stretch;
    justify-content: center;
    align-content: center;
    grid-gap: 5%; }
    .certificates_images img {
      width: 90%;
      height: auto;
      object-fit: cover; }
    .certificates_images > * {
      z-index: 2; }

@media only screen and (max-width: 900px) {
  .certificates {
    margin-bottom: 20rem; }
    .certificates_images img {
      width: 70%; } }

.u_head {
  margin: 10rem;
  width: 30%;
  font-size: 5rem;
  height: 7rem;
  font-weight: bold;
  left: 10%;
  background: #f5f5f5;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 80% 85%, 76% 100%, 72% 85%, 0 85%); }

.u_card {
  border: none;
  border-radius: 1rem;
  box-shadow: 5px 20px 50px black; }

.u_shake {
  animation: shake 1s ease-in-out; }

.u_slide {
  transform: translateY(0px);
  opacity: 1; }

.u_menu {
  background-image: linear-gradient(to bottom, #5a5a5a, #6e6e6e);
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem; }

.u_lang {
  font-size: 2rem !important; }

@media only screen and (max-width: 900px) {
  .u_head {
    font-size: 2rem;
    height: 4rem;
    width: 25%;
    margin: 3rem 0 1rem 3rem; } }

@media only screen and (max-width: 600px) {
  .u_head {
    font-size: 3rem;
    height: 4rem;
    width: 60%;
    margin: 5rem 0 1rem 6rem; }
  .u_lang {
    font-size: 2rem !important; } }

@keyframes name-in {
  0% {
    opacity: 0;
    transform: translateX(-400px); }
  70% {
    transform: translateX(100px); }
  100% {
    opacity: 1;
    transform: translateX(0px); } }

@keyframes shake {
  10% {
    transform: translateX(2px); }
  20% {
    transform: translateX(-1.9px); }
  30% {
    transform: translateX(1.5px); }
  40% {
    transform: translateX(-1.4px); }
  50% {
    transform: translateX(1px); }
  60% {
    transform: translateX(-0.9px); }
  70% {
    transform: translateX(0.5px); }
  80% {
    transform: translateX(-0.4px); } }
